<nav class="navbar navbar-expand-sm bg-light shadow-sm">
  <div class="container-fluid">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="productos">Productos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="ofertas">Ofertas</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="terminos">Términos y Condiciones</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold text-dark" routerLink="contactos">Contactos</a>
          </li>
      </ul>
  </div>
</nav>
