<div class="row">
    <div class="col-md-4" *ngFor="let item of producto">
      <div class="thumbnail">
        <a [href]="item.imagen_url || '/w3images/lights.jpg'">
          <img [src]="item.imagen_url || '/w3images/lights.jpg'" alt="{{item.nombre}}">
          <div class="caption">
            <!-- Aquí puedes añadir más detalles si lo deseas -->
          </div>
        </a>
        <p>Nombre: {{item.nombre}}</p>
        <p>Categoría: {{item.categoria}}</p>
        <p>Precio: {{item.precio | currency}}</p>
        <p>Descripción: {{item.descripcion}}</p>
      </div>
    </div>
  </div>
  